$color-primary: #323264;
$color-primary-dark: #1D1D1F;
$color-accent: #F0145A;
$color-accent-blue: #24A3FF;

$color-grey: #B3B3BA;
$color-grey-light: #F5F5FA;

$color-white: #ffffff;

$font-main: 'Montserrat', sans-serif;

$xl: 1440px;
$lg: 1200px;
$md: 1024px;
$tb: 768px;
$sm: 576px;
$xs: 375px;
